#jobs_list_container{
    padding: 0 15px;
}

table{
    width: 100%;
    border-spacing: 0;
}

td {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 10px;
}

th{
    text-align: left;
}

.profilePicture{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

button{
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
}

button p{
    margin: 5px;
}

.incompleteUnquoted{
    background-color: #f2661a;
    color: white;
    border: 1px solid black;
}

.incompleteQuoted{
    background-color: #afadac;
    border: 1px solid black;
}

.completed{
    color: #8c8a89;
    background-color: white;
    border: 1px solid #8c8a89;
}





#footer{
    width: 100%;
}

#footer p,
#footer div
 {
    display: inline-block;
}

#footer p {
    margin: 0;
}

#exported {
    float: right;
    padding-right: 10px;
}

#blackBox {
    background-color: black;
    color: white;
    float: right;
}

#blackBox p {
    padding: 0;
    margin: 0;
}
