@import '../../../styles.scss';
@import '../../../bunk.variables.scss';
@import '../../../arcibaldo-custom.variables.scss';
@import '../../../scss/typography';

@import '../../../bunk.theme.scss';
@import '../../../bunk.variables.scss';

.initial-landing {
    background-image: url('../../../assets/property-main.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

p {
    color: rgb(161, 161, 161)
}

.second-landing {
    // background-color: red;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
}

.product-page{
    height:83vh;
    background-color: red;

}

.orange-text {
    background-color: orange;
    width:100vw;
    display: flex;
    flex-direction: row;
    height:10vh
}

.third-landing {
    background-color: blue;
    height:100vh
}

.fourth-landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.membership-page{
    height:83vh;
    background-color: green;

}