<app-out-app-layout>
  <div class="initial-landing cc flex_wrap ">
    <div class="text-center mb_25">
      <h1 class="title_1 p-all_2">
      Bunk Contractors
      </h1>
      <div>
        <p class="text p-all_2">Random Text to go here inspiring people to go for Bunk</p>
      </div>
      <button class="btn_blue">JOIN NOW</button>
    </div>
  </div>  

  <div class="second-landing cc flex_wrap">
    <div class="product-page rc jc_sa">
      <div class="mb_20 ml_30 left">
        <h2 class="title_1">Program Features</h2>
        <p class="subtitle_3">This is our awesome Bunk product that is Bunkiness, this needed to be longer in order to test the length of this div</p>
        <ul>
          <li>
            <h3 class="text_bold">This is a cool test</h3>
            <p class="subtitle_5">This is placeholder text</p>
          </li>
          <li>
              <h3 class="text_bold">This is a cool test</h3>
              <p class="subtitle_5">This is placeholder text</p>
            </li>
            <li>
                <h3 class="text_bold">This is a cool test</h3>
                <p class="subtitle_5">This is placeholder text</p>
              </li>
        </ul>
      </div>
      <img class= "mr_30" src ="../../../assets/skewed-pages.jpg" /> 
    </div>
      <div class="orange-text rc jc_sa">
        <p class="subtitle_3 m-vertical_5">This is an awesome line convincing you to sign up with bunk</p>
        <button class="m-vertical_5" >JOIN NOW</button>
    </div>
  </div>

  <div class="third-landing cc flex_wrap">
    <div>
      <h2 class="title_1">What our contractors say</h2>
    </div>

  </div>


  <div class="fourth-landing cc flex_wrap">
      <div class="membership-page">
        <h2 class="title_1">Select your membership</h2>
      </div>
        <div class="orange-text rc jc_sa">
          <p class="subtitle_3 m-vertical_5">This is to see text at the botton</p>
          <button class="m-vertical_5" >JOIN NOW</button> 
       </div>
    
  </div>

  <div class="footer">
    <div>
      stuff1
    </div>
    <div>
      stuff2
    </div>
    <div>
      stuff3
    </div>
  </div>
 
</app-out-app-layout>