<app-out-app-layout>
  <div class="initial-landing cc flex_wrap">
    <h1 class="title_1">
      Bunk Contractors
    </h1>
    <div>
      <p class="text">Random Text to go here inspiring people to go for Bunk</p>
    </div>
    <button class="btn_blue">JOIN NOW</button>
  </div>  

  <div class="second-landing cc flex_wrap">
    <div class="product-page rc jc_sa">
      <div>
        <h2 class="title_1">Program Features</h2>
        <p>This is our awesome Bunk product that is Bunkiness</p>
        <ul>
          <li>
            <h3><i class="fas fa-wrench"></i>This is a cool test</h3>
            <p>This is placeholder text</p>
          </li>
          <li>
              <h3><i class="fas fa-wrench"></i>This is a cool test</h3>
              <p>This is placeholder text</p>
            </li>
            <li>
                <h3><i class="fas fa-wrench"></i>This is a cool test</h3>
                <p>This is placeholder text</p>
              </li>
        </ul>
      </div>
      <img src ="../../../assets/skewed-pages.jpg" /> 
    </div>
      <div class="orange-text rc jc_sa">
        <p>This is to see text at the botton</p>
        <button class="m-vertical_2" >JOIN NOW</button>
    </div>
  </div>

  <div class="third-landing cc flex_wrap">

  </div>


  <div class="fourth-landing cc flex_wrap">
      <div class="membership-page">
        <h2 class="title_1">Select your membership</h2>
      </div>
        <div class="orange-text rc jc_sa">
          <p>This is to see text at the botton</p>
          <button class="m-vertical_2" >JOIN NOW</button> 
       </div>
    
  </div>

  <div class="footer">
    <div>
      stuff1
    </div>
    <div>
      stuff2
    </div>
    <div>
      stuff3
    </div>
  </div>
 
</app-out-app-layout>