@import '../../../styles.scss';
@import '../../../bunk.variables.scss';
@import '../../../arcibaldo-custom.variables.scss';
@import '../../../scss/typography';
@import '../../../scss/variables/breakpoints';

@import '../../../bunk.theme.scss';
@import '../../../bunk.variables.scss';

.initial-landing {
    background-image: url('../../../assets/property-main.jpg');
    min-height: 100vh;
    // height:100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 0 0 5px black;

}
.sub-heading {
    text-shadow: 0 0 5px black;

}


.subtitle_1 {
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

p {
    color: rgb(161, 161, 161);
    font-family:  $font-family_primary;
}

ul{
    padding-left: 0;

}

li {
    list-style-type: none;
    
}

.text-icon {
    padding-left:0;
}

.skew {
    display: none;
    width:30%
}

.contractors-say {
    display: flex;
    justify-content: center;
    align-items:center;
}

.contractors-say-center {
    width: 45%;
}

.icon-left {
    width:100%;
    min-width: 100px;
    text-align: center;
}

.icon-text{
    width: 70%;
    min-width: 100px;
    text-align: justify;

}

.second-landing{
  align-items: center;
  // min-height:78vh;
}


.product-page{

    width: 100%;
}

.left {
    width: 40%;
}

.orange-text {
    background-color: rgb(255,96,8);
    width:100%;
    min-height:15vh;
    align-items: center;
}

.orange-text p {
    color: rgba(255,255,255, 0.5)
}

.third-landing {
    min-height:93vh;
    align-items: center;
}

// .fourth-landing {
//     justify-content: center;
// }

.membership-page{
    min-height:78vh;
    align-items: center;
}

.footer-container {
    background-color: rgb(81,83,86);
    justify-content: space-evenly;
}

.small {
    height: 40px;
    width:200px;
}

.border-left {
    border-left: 1px solid rgba(255,255,255, 0.5);

}

@include breakpoint-custom($min: 700px, $max: 100000px) {
    .skew {
      display:block;
    }
    .product-page {
          height:78vh;
    }
    ul{
        padding-left: 25px;
    
    }
    .text-icon {
        padding-left:20px;
    }
}