<!-- <p>
  function-demo works!
</p>
{{ (data$ | async) | json }} -->


<div class=”jc_sb”>

  <div class="left">
    Left
  </div>

  <div class="m-vertical_4 right btn-light bg-primary text-white">
    Right
  </div>

</div>

<div class="row-container justify-content_center">
  <div class="fix-container">

    <div class="cc">

      <h2>Button Primary</h2>

      <button class="btn btn_flat btn_blue">Submit</button>

      <hr>

      <button class="btn btn_raised btn_neutral">Submit</button>

      <hr>

      <button class="btn btn_red">Submit</button>


    </div>

  </div>
</div>

<div class="row-container justify-content_center">
  <div class="fix-container">
    <h2>Basic Flex layout</h2>

    Row container:
    <div class="row-container">
      <div class="flex_70">70</div>
      <div class="flex_30">30</div>
    </div>
    <hr>

    Col container:
    <div class="col-container">
      <div>100</div>
      <div>100</div>
    </div>
  </div>
</div>


<h1>Typography</h1>
<hr>
<div class="rc justify-content_center">
  <div class="fix-container">

    <div class="cc">

      <div class="title_1">Lorem Ipsum is the best</div>
      <div class="subtitle_1">light, easy, smart</div>
      <div class="text_1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc eros, pharetra at
        justo nec, fringilla eleifend turpis. Nam congue quis sem eu sollicitudin. Nunc non mauris elementum,
        ornare libero non, sodales justo. Curabitur in est vel libero maximus lobortis. Fusce eget turpis
        ornare, condimentum lectus non, vulputate erat. In luctus aliquet tellus, nec luctus libero rhoncus
        euismod. Etiam pellentesque, magna sed dictum luctus, leo sem aliquam nunc, sit amet tempus lacus metus
        non sem.
      </div>

      <hr>

      <div class="title_2">Lorem Ipsum</div>
      <div class="subtitle_2">light, easy, smart</div>
      <div class="text_2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc eros, pharetra at
        justo nec, fringilla eleifend turpis. Nam congue quis sem eu sollicitudin. Nunc non mauris elementum,
        ornare libero non, sodales justo. Curabitur in est vel libero maximus lobortis. Fusce eget turpis
        ornare, condimentum lectus non, vulputate erat. In luctus aliquet tellus, nec luctus libero rhoncus
        euismod. Etiam pellentesque, magna sed dictum luctus, leo sem aliquam nunc, sit amet tempus lacus metus
        non sem.
      </div>

      <hr>

      <div class="title_3">Lorem Ipsum</div>
      <div class="text_3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc eros, pharetra at
        justo nec, fringilla eleifend turpis. Nam congue quis sem eu sollicitudin. Nunc non mauris elementum,
        ornare libero non, sodales justo. Curabitur in est vel libero maximus lobortis. Fusce eget turpis
        ornare, condimentum lectus non, vulputate erat. In luctus aliquet tellus, nec luctus libero rhoncus
        euismod. Etiam pellentesque, magna sed dictum luctus, leo sem aliquam nunc, sit amet tempus lacus metus
        non sem.
      </div>


    </div>

  </div>
</div>
