$button-background_blue: #4BB7F1;
$button-background_blue_hover: #8ECCEE;
$button-background_blue_active: #489AC6;
$button-background_green: linear-gradient(270deg, #43E279 0%, #53D691 100%);
$button-background_green_hover: #93E7B0;
$button-background_green_active: #41B376;
$button-border-color_red: #F77062;
$button-background_red: #FFFFFF;
$button-background_red_hover: linear-gradient(90deg, #F77062 0%, #FE5196 100%);
$button-background_red_active: linear-gradient(-90deg, #FA8C7E 0%, #FE6AB2 100%);
$button-background_neutral: #FFFFFF;
$button-background_neutral_hover: #4A4A4A;
$button-background_neutral_active: #242424;

$button-background_disabled: #ABABAB;

