<div class="text">
  <div class="rc">
    <div *ngFor="let star of stars">
      <div *ngIf="star == true">
        <app-star isActive=true></app-star>
      </div>
      <div *ngIf="star == false">
        <app-star disabled=true></app-star>
      </div>
    </div>
  </div>
</div>

<!-- <app-star [ngClass]="isRequired ? 'hide':'show'" isActive=true></app-star>
<app-star isActive=true></app-star>
<app-star isActive=true></app-star>
<app-star disabled=true></app-star>
<app-star disabled=true></app-star>
<app-star disabled=true></app-star> -->

<!-- <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
  <img *ngIf="item" src="assets/unliked.png">
  <img *ngIf="!item" src="assets/like.png">
</a>
  
<div>
  Rating : {{ rating }} stars
</div>     -->
  