@import '../../bunk.variables.scss';

.w-navbar {
  display: none;
}

.m-navbar {
  z-index: 10;
}

.top-navbar {
  height: 7vh;
  min-height: 40px;
}

.text {
  color: $colour-grey_0;
}

.fas {
  color: $colour-grey_0;
  font-size: 1.6rem;
}

.avatar {
  color: $colour-grey_0;
}

@include breakpoint-custom($min: 0px, $max: 565px) {

  //hides text
  .none {
    display: none;
  }
}

@include breakpoint-custom($min: 0px, $max: 680px) {

  //moves icon and text from next to eachother to icon above text 
  .fd-c {
    margin: auto 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

}

@include breakpoint-custom($min: 769px, $max: 2000px) {
  .m-navbar {
    display: none;
  }

  .h_40 {
    max-width: 180px;
    width:auto;
  }

  .w-navbar {
    z-index: 10;
    display: flex !important;

    ul {
      list-style-type: none;
    }
  }
}
