@import '../../bunk.variables.scss';

.w-navbar {
  display: none;
}

.m-navbar {
  z-index: 10;
}

.top-navbar {
  height: 7vh;
  min-height: 40px;
}

.text {
  color: $colour-grey_0;
}

.fas {
  color: $colour-grey_0;
  font-size: 1.6rem;
}

.avatar {
  color: $colour-grey_0;
}

.logo {
  height: 1.5rem;
}

@include breakpoint-custom($min: 0px, $max: 768px) {

  .hide {
    display: none;
  }

  .display {
    display: flex;
    flex-direction: column;
    width: 90px
  }

}

@include breakpoint-custom($min: 769px, $max: 2000px) {
  .m-navbar {
    display: none;
  }
  
  .w-navbar {
    z-index: 10;
    display: flex !important;

    ul {
      list-style-type: none;
    }
  }
}
