<div class="m-navbar fixed w_100 h_100">

  <div class="rc jc_sb h_10 bg_dark top-navbar">
    <div class="link m-vertical_auto ml_1" (click)="menuIsHidden =! menuIsHidden">
      <i class="fas fa-bars"></i>
    </div>

    <div class="avatar rc m-vertical_auto mr_2">
      <p class="text-tiny mr_2 m-vertical_auto">name</p>
      <app-avatar-icon size="40" class="link"></app-avatar-icon>
    </div>
  </div>
  <div class="div h_100 w_10" [hidden]="menuIsHidden === true">

  </div>

</div>




<div class="w-navbar w_100 h_10 bg_dark fixed uppercase rc jc_sb top-navbar">

  <div class="ml_2 rc ai_c w_20">
    <img class="w_50" src="../../assets/logos/logo-white.png" alt="bunk logo">
  </div>

  <ul class="text-caption text_light rc ai_c m-all_0">
    <li class="btn link m-horizontal_2">home</li>
    <li class="btn link m-horizontal_2">tenant</li>
    <li class="btn link m-horizontal_2">landlord</li>
    <li class="btn link m-horizontal_2">contractor</li>
    <li class="btn m-horizontal_2 btn_raised btn_white text_dark link rc ai_c text_center">subscribe</li>
  </ul>

</div>
