<div class="m-navbar bg_dark">

  <div class="menu_icon">
    <div></div>
    <div></div>
    <div></div>
  </div>

<app-avatar-icon size="40" ></app-avatar-icon>

</div>


<div class="w-navbar bg_dark">

  <div class="image">
    <img class="logo" src="../../assets/logos/logo-white.png" alt="bunk logo">
  </div>

  <ul class="text-caption text_light">
    <li class="btn link">home</li>
    <li class="btn link">tenant</li>
    <li class="btn link">landlord</li>
    <li class="btn link">contractor</li>
    <li class="btn btn_raised btn_sub text_dark link text_center">subscribe</li>
  </ul>

</div>
