<div class="m-navbar bg_dark">

  <div class="menu_icon">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="avatar">
    <p class="text-tiny">name</p>
    <app-avatar-icon size="40"></app-avatar-icon>
  </div>

</div>


<div class="w-navbar w_100 h_7 bg_dark fixed uppercase rc jc_sb">

  <div class="ml_2 rc ai_c">
    <img class="w_10" src="../../assets/logos/logo-white.png" alt="bunk logo">
  </div>

  <ul class="text-caption text_light rc ai_c m-all_0">
    <li class="btn link m-horizontal_2">home</li>
    <li class="btn link m-horizontal_2">tenant</li>
    <li class="btn link m-horizontal_2">landlord</li>
    <li class="btn link m-horizontal_2">contractor</li>
    <li class="btn m-horizontal_2 btn_raised btn_white text_dark link rc ai_c text_center">subscribe</li>
  </ul>

</div>
