.blocker {
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    background-color:rgba(0,0,0,0.5);
}

// .content {
//     background-color:red;
//     position:fixed;
//     top:20%;
//     bottom:20%;
//     left: 20%;
//     right:20%;
//     border-radius: 10px;
//     padding: 15px;
//     border: 1px solid #111;
// }

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.modal {
    background-color: white;
    z-index: 1;
    position: relative;
    min-width: 200px;

}

.modal .fas {
    position: absolute;
    right:0;
    top:0;   
}

.fa-times{
    color:white;
} 

.fa-times:hover{
    cursor: pointer;
}

.hidden {
    display: none;
}

.closeButton {
    background-color: red;
    color: white;
    border-radius: 50%;
}

.header {
    background-color: black;
    // margin-top: -20px;
}
.modal-title{
    font-size: 2em!important;
}

.header{
    color: white;
    text-align: center;
}

.sub-heading {
    color:grey;
}

.header p {
    color: gray;
    text-align: center;
}

input {
    border:none;
}

.m-all_1{
    border: 2px black solid;
}

textarea{
    border:none;
    resize:none;
}