<!-- <div *ngIf="showModal">
  <div class="blocker" (click)="close()" >
  </div>
  <div class="content">
    Content
  </div>
</div> -->

<!-- content goes here -->

<div class="blocker {{showModal ? '':'hidden'}}" (click)="cancel()" >
</div>
<div class="modalContainer {{showModal ? '':'hidden'}}" id="modalSelector">
  
  <div class="modal w_50 h_70">
    <button class="closeButton" (click)="save()">X</button>
    
    <div class="header h_40 cc flex_wrap jc_c ai_c">
      <div class="modal-title title_1">Add A Quote</div>
      <div class="sub-heading text text_2 w_80">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Veritatis, aliquid blanditiis temporibus maxime
        dolore natus qui corrupti minus iste eius delectus hic atque!</div>
      </div>
      
      <div class="bottom">
        <form class="w_100">
          
          <div class= "red rc flex_wrap jc_c ai_c">
            <div class="m-all_1">
              <input
              class="p-vertical_1"
              placeholder="CS Gas Fitter">
            </div>
            <div>
              <input
              class="p-vertical_1"
              placeholder="Amount"> 
            </div> 
          </div>

        <div class="message cc flex_wrap jc_c ai_c">
          <textarea
          class="w_100"
          rows="5"></textarea>
          <button class="btn_orange">SUBMIT</button>
        </div>

        </form>
        
      </div>
      
      
      <ng-content></ng-content>
    </div>
  </div>
  