<div class="container ">
  <div class="w_100 rc jc_sb bg_dark text_light fixed top">
    <div class="h_100 m-vertical_auto">
      <img class="logo mt_1 ml_1" src="../../assets/logos/logo-white.png" />
    </div>
    <div class="rc ai_c h_100 pr_1">
      <i class="fas fa-bell"></i>
      <app-avatar-icon size="40" class="pl_1"></app-avatar-icon>
    </div>
  </div>
  <div class="rc h_100">
    <div class="h_100 bg_blue cc jc_sb text_light fixed side">
      <div>
        <div class="mt_8 pt_1 capitalize text-tiny cc ai_c navicon">
          <i class="fas fa-home"></i>
          <p class="mt_1">properties</p>
        </div>
        <div class="pt_1 text-tiny capitalize cc ai_c navicon">
          <i class="fas fa-wallet"></i>
          <p>financial</p>
        </div>
        <div class=" pt_1 text-tiny capitalize cc ai_c navicon">
          <i class="fas fa-comment"></i>
          <p>chat</p>
        </div>
        <div class=" pt_1 text-tiny capitalize cc ai_c navicon">
          <i class="fas fa-user"></i>
          <p>profile</p>
        </div>
        <div class=" pt_1 text-tiny capitalize cc ai_c navicon">
          <i class="fas fa-wrench"></i>
          <p>maintenance</p>
        </div>
      </div>
      <div class="cc ai_c p-all_1 navicon">
        <i class="fas fa-cogs"></i>
      </div>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
