@import '../../bunk.variables.scss';

i {
  font-size: 2em;
}

.i {
  font-size: 0.75em;
}

.logo {
  width: 8rem;
  height: auto;
}

.container {
  height: 100vh;
  max-width: 100vw;
}

.content {
  padding: 4%;
  padding-right: 0;
}

.side {
  min-width: 80px;
}

.top {
  z-index: 10;
  height: 48px;
}

.navicon {
  
  &:hover,
  &:active {
    background-color: $colour-grey_3;
    cursor: pointer;
    
    p {
      text-decoration: underline;
    }
  }
}

.dm {
  display: none;
}

@include breakpoint-custom($min:0px, $max: 767px) {
  .dm {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .fa-bars {
    margin: auto 0;
    padding: 10px;
    padding-left: 30px;
  }
  
  .dw {
    display: none;
  }
}


