<div class="container">
  <div class="top">
    <div class="t_right">
      <img src="../../assets/logos/logo-white.png" />
    </div>
    <div class="t_left">
      <i class="fas fa-bell"></i>
      <app-avatar-icon size="40"></app-avatar-icon>
    </div>
  </div>
  <div class="rc h_100">
    <div class="side">
      <div>
        <div class="mt_8 capitalize text-tiny">
          <i class="fas fa-home"></i>
          <p class="mt_1">properties</p>
        </div>
        <div class="mt_1 text-tiny capitalize">
          <i class="fas fa-wallet"></i>
          <p>financial</p>
        </div>
        <div class="mt_1 text-tiny capitalize">
          <i class="fas fa-comment"></i>
          <p>chat</p>
        </div>
        <div class="mt_1 text-tiny capitalize">
          <i class="fas fa-user"></i>
          <p>profile</p>
        </div>
        <div class="mt_1 text-tiny capitalize">
          <i class="fas fa-wrench"></i>
          <p>maintenance</p>
        </div>
      </div>
      <div class="m-horizontal_auto pb_2">
        <i class="fas fa-cogs"></i>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>