// .one {
//     background-color: red;
// }

.twoone {
    // background-color: orangered;
    border-right: solid black 1px;
    display: flex;
    align-items: center;
}

// .twotwo {
//     background-color: orange;
// }

.three {
    // background-color: yellow;
    align-items: center;
}




h1 {
    text-align: center;
}

input, select {
    border: none;
}
