// .one {
//     background-color: red;
// }

.twoone {
    // background-color: orangered;
    border-right: solid rgb(236, 235, 235) 1px;
    display: flex;
    align-items: center;
}

.twotwo {
    // background-color: orange;
    min-width: 320px;
}

.three {
    // background-color: yellow;
    align-items: center;
}




h1 {
    text-align: center;
}

.centre-text {
    text-align: center;
}

input{
    border: none;
    padding: 10px;
    width: 185px;
}

.small-select {
    width: 205px;
}

.large-select {
    width: 420px
}

select {
    border: none;
    padding: 10px;
}

button {
    width: 185px;
}