<app-out-app-layout>

    <app-contractor-reg-title class="rc flex_wrap jc_c"></app-contractor-reg-title>
    
    <!-- <h1 class="title_1">Contractor Registration</h1> -->
    
    <div class="mt_3 cc flex_wrap jc_c">


      <div class="one">
        <h1 class="title_2">Registration</h1>
      </div>

      <div class="two flex_wrap rc jc_c">
        
        <div class="twoone w_35 mr_3 cc flex_wrap jc_c">
          <app-avatar-icon size="150"></app-avatar-icon>
          <button class="btn btn_raised btn_blue w_60">UPLOAD USER IMAGE</button>
          <div class="text text_3 w_90 text_grey">Upload a picture or logo which will help landlords identify you</div>
        </div>

        <div class="text twotwo w_35 mr_3">
          <input class="text text_3 text_grey bg_light" type="text" placeholder="First Name">
          <input class="text text_3 text_grey bg_base" type="text" placeholder="Last Name">
          <input class="text text_3 text_grey" type="text" placeholder="Password">
          <input class="text text_3 text_grey" type="text" placeholder="Email Address">
          <input class="text text_3 text_grey" type="text" placeholder="Business Number">
          <input class="text text_3 text_grey" type="text" placeholder="Business Website">
          <select class="text text_3 text_grey">
            <option value="placeholder">Contractor type</option>
            <option value="option 1">Option 1</option>
            <option value="option 1">Option 1</option>
          </select>
          <input class="text text_3 text_grey" type="text" placeholder="Postcode">
          <select class="text text_3 text_grey">
            <option value="placeholder" disabled>Distance willing to travel</option>
            <option value="option 1">Option 1</option>
            <option value="option 2">Option 2</option>
          </select>
        </div>

      </div>

      <div class="create three flex_wrap cc jc_c">
        <button class="btn btn_raised btn_blue w_20">CREATE ACCOUNT</button>
        <div class="text text_3 text_grey w_25 mt_2">By clicking Register, you indicate that you have read and understood our 
          <a class="text_bold text_2">Privacy Policy and Terms of Use</a>
        </div>
      </div>

    
    </div>

    
    </app-out-app-layout>