<app-out-app-layout>

    <app-contractor-reg-title class="rc flex_wrap jc_c"></app-contractor-reg-title>
    
    <!-- <h1 class="title_1">Contractor Registration</h1> -->
    
    <div class="cc flex_wrap jc_c">


      <div class="one">
        <h1 class="title_2">Registration</h1>
      </div>

      <div class="two flex_wrap rc jc_c">
        <div class="twoone w_50">
          <img src="../../../assets/user.png" class="w_10">
        </div>
        <div class="text twotwo w_50">
          input boxes
        </div>
      </div>

      <div class="create three flex_wrap jc_c cc">
        <button class="btn btn_raised btn_blue">CREATE ACCOUNT</button>
        <p class="text text_1 w_30">By clicking Register, you indicate that you have read and understood our 
          <a class="text_1">Privacy Policy and Terms of Use</a>
        </p>
      </div>

    
    </div>

    
    </app-out-app-layout>