.one {
    background-color: red;
}

.twoone {
    background-color: orangered;
}

.twotwo {
    background-color: orange;
}

.three {
    background-color: yellow;
}




h1 {
    text-align: center;
}

.create {
    text-align: center;
}