@import '../../bunk.variables';

.ta_c {
  text-align: center;
}

.avatar:hover {
  background-color: $colour-grey_1;
  cursor: pointer;
}

@include breakpoint-custom($min:0px, $max:769px) {
  .avatar:active {
    background-color: $colour-grey_1;
  }
}
