<div class="rc flex_wrap jc_c">
  <div *ngFor="let option of pageOption" class="each-option jc_c  m-all_3">
    <div class="each-option-title bg_light text-caption p-vertical_1">{{option.title}}</div>
    <div class="text-tiny text_grey">
      <div class="p-vertical_1">x</div>
      <div >Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="p-vertical_1">x</div>
      <div >Lorem ipsum dolor sit amet, consectetur</div>
      <div class="p-vertical_1">x</div>
      <div >Lorem ipsum dolor sit</div>
    </div>
    <div class="rc jc_c m-vertical_2">
    <div class="subtitle_1 price">£{{option.prices}}</div>
    <div class="text-tiny text_grey cc jc_c">
    <p>Per</p>
    <p>month</p>
    </div>
    </div>
    <button class="btn btn_raised btn_orange">CHOOSE</button>
  </div>
</div>

<!-- class="btn btn_neutral text-tiny  m-vertical_1 p-vertical_1 btn_raised" -->