<div class="each-option w_20 jc_c  m-horizontal_1">
  <div class="each-option-title bg_light text-caption p-vertical_1">BASIC</div>
  <div class="text-tiny text_grey">
    <div class="p-vertical_1">x</div>
    <div >Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
    <div class="p-vertical_1">x</div>
    <div >Lorem ipsum dolor sit amet, consectetur</div>
    <div class="p-vertical_1">x</div>
    <div >Lorem ipsum dolor sit</div>
  </div>
  <div class="rc jc_c m-vertical_2">
    <div class="subtitle_1 price">£5</div>
    <div class="text-tiny text_grey cc jc_c">
      <p>Per</p>
      <p>month</p>
    </div>
  </div>
  <button class="btn btn_neutral text-tiny  m-vertical_1 p-vertical_1 btn_raised">CHOOSE</button>
</div>
