@import '../../../styles.scss';
@import '../../../bunk.variables.scss';
@import '../../../arcibaldo-custom.variables.scss';
@import '../../../scss/typography';

@import '../../../bunk.theme.scss';
@import '../../../bunk.variables.scss';

.each-option {
  border: 1px solid $colour-grey_2;
  width: 100px;
  text-align: center;
}

.each-option-title {
  background: $colour-grey_2;
}