@import '../../bunk.variables.scss';
@import '../../bunk.theme.scss';
@import '../../arcibaldo-custom.variables.scss';
@import '../../../src/scss/variables/breakpoints';

.rc {
    overflow: hidden;
    margin-left: 0;
    padding: 0;
}

/** Job images size */
img.job-image {
    width: 105px;
    height: 95px;
}

/** Arrow button rotated and grey with light gray hover */
button {	
	cursor: pointer;
    outline: inherit;   
    margin: 0;
    height:auto;
    width: auto;
}

button :hover {
    background-color: $colour-background_base;
}

.click {
    height: 70px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    border: none;  
}

img.job-click {
    width: 20px;
    height: 15px;
}

@include breakpoint-custom($min: 1500px, $max: 2000px) {
    img.job-image {
        width: 225px;
        height: 195px;
        padding-right: 0;
    }

    button {
        margin-top: 5em;
        margin-left: 0;
        padding-left: 0;
    }

    .button1 {
        padding-right: 9em;
        padding-left: 0;
        margin-left: 0;
    }

    img.job-click {
        width: 45px;
        height: 35px;
        margin-left: 0;
    }
}

@include breakpoint-custom($min: 1000px, $max: 1500px) {
// @media only screen and (min-width: 870px) {
    /** Job images size */
    img.job-image {
        width: 180px;
        height: 150px;
        padding-right: 0;
    }

    button {
        margin-top: 4.5em;
        margin-left: 0;
        padding-left: 0;
        width: 3em;
    }

    .button1 {
        padding-right: 7em;
    }

    img.job-click {
        width: 40px;
        height: 30px;
        margin-left: 0;
    }
}

@include breakpoint-custom($min: 565px, $max: 1000px) {
// @media only screen and (min-width: 450px) and (max-width: 870px) {
    /** Job images size */
    img.job-image {
        width: 105px;
        height: 85px;
    }

    button {
        margin-top: 1.5em;
    }

    img.job-click {
        width: 25px;
        height: 15px;
    }
}

@include breakpoint-custom($min: 485px, $max: 565px) {
    button {
        padding-top: 2.2em;
    }
}

@include breakpoint-custom($min: 0px, $max: 565px) {
    /** Job images size */
    img.job-image {
        width: 40px;
        height: 30px;
    }
}
