<div class="cc ai_c">
    <app-avatar-icon size="90"></app-avatar-icon>
  <div class="text cc ai_c p-all_1">
    <div class="pt_1 pb_1">
      CAROLINE MILLER
    </div>
    <div class="text_grey pb_1">
      Bristol
    </div>
    <div class="rc text text_grey pl_1">
      <app-star-rating class="pr_1"></app-star-rating>
      (22)
    </div>
    <div class="contact-details text_grey pt_1">
      caromiller@yahoo.co.uk
      <br>01175 345 678
    </div>
  </div>
  <div class="rc ai_c">
    <button class="btn btn_orange btn_raised text-tiny m-vertical_1 p-all_1">CONTACT</button>
  </div>
</div>
