@import '../../bunk.variables.scss';
@import '../../bunk.theme.scss';
@import '../../arcibaldo-custom.variables.scss';
@import '../../../src/scss/variables/breakpoints';

.quoting-price {
    padding-top: 0;
}

.title_3 {
    margin-bottom: 0;
}

.title_2 {
    margin-top: 12px;
    margin-bottom: 0;
}

app-star {
    margin-bottom: 0;
    padding-bottom: 0;
}

button {
    margin-top: 10px;
}