@import '../../../../src/scss/variables/breakpoints';

// .one {
//     // background-color: red;
// }

.twoone {
    // display: flex;
    align-items: center;
    // background-color: orangered;
    min-width: 185px;
}

.twotwo {
    align-items: center;
    // background-color: orange;
    min-width: 365px;
}

.three {
    align-items: center;
    // background-color: yellow;
}





.centre-text {
    text-align: center;
}

input{
    width: 136px;
}

.small-select {
    width: 156px; //input width + 20px
}

.large-select {
    width: 332px; //small-select width x2 then + 20px
}

input, select {
    border: none;
}

button, .privacy-policy {
    width: 175px;
}

//break point (min screen 900px)
@include breakpoint-custom($min: 1300px, $max: 1000000px) {
    input {
        width: 250px;
    }
    .small-select {
        width: 270px;
    }
    .large-select {
        width: 560px;
    }
}

// @include breakpoint-custom($min: 0px, $max: 550px) {
//     .twotwo {
//         width: 100%;
//     }

//     .large-select {
//         width: 200px; //same as small-select
//     }

//     input {
//         margin-left: 0;
//         margin-right: 0;
//     }
// }


