@import '../../../../src/scss/variables/breakpoints';

.display-photo-div {
    min-width: 185px;
}

.input-div {
    min-width: 365px;
}

input{
    width: 136px;
}

.small-select {
    width: 156px; //input width + 20px
}

.large-select {
    width: 332px; //small-select width x2 then + 20px
}

input, select {
    border: none;
}

button, .privacy-policy {
    width: 175px;
}

.centre-text {
    text-align: center;
}

@include breakpoint-custom($min: 1300px, $max: 1000000px) {
    input {
        width: 250px;
    }
    .small-select {
        width: 270px;
    }
    .large-select {
        width: 560px;
    }
}
