<app-out-app-layout>
  <app-contractor-reg-title class="rc jc_c"></app-contractor-reg-title>
<div>
  <div class="rc flex_wrap jc_c mt_6">
    <app-membership-level-options></app-membership-level-options>
    <div class="mt_10  mb_10">
      <div class="text-caption">Enter payment details</div>
      <div>
        <input class="reg-input text_grey bg_light w_40 mt_1 mr_1 p-all_1 text-tiny" type="text" placeholder="Card Number">
        <input class="reg-input text_grey bg_light w_40 mt_1 mr_1 p-all_1 text-tiny" type="text" placeholder="Name on Card">
      </div>
      <div class="rc">
        <input class="reg-input text_grey bg_light w_37 mt_1 mr_1 p-all_1 text-tiny" type="text" placeholder="Expiry Date (MM/YY)">
        <input class="reg-input text_grey bg_light w_37 mt_1 mr_1 p-all_1 text-tiny" type="text" placeholder="CVV">
        <div class="reg-input text text_1 text_grey w_5 mt_1 mr_1 jc_c p-all_1"><i class="fas fa-question-circle"></i></div>
      </div>
      <button class="btn btn_raised btn_orange mt_1">SET UP PAYMENT</button>
    </div>
  </div>
</div>
</app-out-app-layout>
