@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Rubik:200,400,500,700,900');
//Arcibaldo
@import "~arcibaldo/scss/arcibaldo.variables";
$base-space-value: 10px;
// @import "arcibaldo-custom.variables";
@import '~arcibaldo/scss/functions';
@import '~arcibaldo/scss/mixins';
@import '~arcibaldo/scss/theme/layout';
@import '~arcibaldo/scss/theme/layout-flexbox';
@import '~arcibaldo/scss/theme/spacing';
@import '~arcibaldo/scss/theme/typography';
@import '~arcibaldo/scss/theme/buttons';
@import '~arcibaldo/scss/theme/shadings';
@import '~arcibaldo/scss/theme/geometry';
// ngx-toastr
@import '~ngx-toastr/toastr.css';
// Bunk
@import "bunk.variables";
@import "bunk.theme";

//BACKGROUND STYLES//

.bg_grey {
  background: $colour-grey_2;
}

//BUTTON STYLES//

// button orange created
.btn_orange {
  border: 1px solid $button-background_orange;
  background: $button-background_orange;
  color: $button-border-color_orange;
  height: 20px;
  border-radius: 20px;

  &:hover {
    @extend %text_light;

    background: $button-background_neutral;
    color: $button-background_orange;
  }

  &:focus {
    @extend %text_light;

    background: $button-background_orange_active;
    color: $button-border-color_orange;
  }

  &:disabled {
    background: $button-background_disabled;
  }
}

//created white button//

.btn_white {
  background-color: $button-background_neutral;
}

//fontawesome//

.fa,
.fas,
.far {
  font-family: "Font Awesome 5 Free";
}

.large-header {
  font-size: 2.75rem;
  font-family:  $font-family_primary
}

.btn_rounded_blue {
  border: 1px solid $button-background_blue;
  background: $button-background_blue;
  color: $button-background_neutral;
  height: 20px;
  border-radius: 20px;

  &:hover {
    // @extend %text_light;

    background: $button-background_neutral;
    color: $button-background_blue;
  }

  &:focus {
    // @extend %text_light;

    background: $button-background_blue_active;
    color: $button-background_blue;
  }


  &:disabled {
    background: $button-background_disabled;
  }
}

  .btn_rounded_white {
    border: 1px solid $button-background_neutral;
    background: $button-background_neutral;
    color: $button-background_orange;
    height: 20px;
    border-radius: 20px;
  
    &:hover {
      // @extend %text_light;
  
      background: $button-background_orange;
      color: $button-background_neutral;
    }
  
    &:focus {
      // @extend %text_light;
  
      background: $button-background_orange_active;
      color: $button-background_neutral;
    }
  
    &:disabled {
      background: $button-background_disabled;
    }
  }
  

