<h1 class="title_1">Contractor Registration</h1>

<div class="container rc fix-container">

  <div class="w_30 welcome jc_c flex_1">

    <div class="title_1">Welcome On Board&#33;</div>
    <div class="text_1">
      You're now registered as a Bunk Contractor and can access hundreds of landlord maintenance jobs
    </div>
  
    <div class="rc">
      <button class="btn btn_raised btn_green">FIND A JOB</button>
      <button class="btn btn_raised btn_green">TAKE A TOUR</button>
    </div>

  </div>

  
  <div class="image w_30 jc_c flex_1">  

      <svg width="100%" viewBox="0 0 29 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
          <title>folder-icon</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="folder-icon" transform="translate(1.000000, 1.000000)" fill-rule="nonzero">
                  <g id="folder-2">
                      <g id="folder-icon">
                          <path d="M25,8.0667789 L23.7179487,8.0667789 L23.7179487,5.58469308 C23.7179487,4.90025792 23.1429487,4.34365018 22.4358974,4.34365018 L14.1025641,4.34365018 C13.9525641,4.34365018 13.8076923,4.29276742 13.6923077,4.20030972 L10.024359,1.24104291 L2.56410256,1.24104291 C1.85705128,1.24104291 1.28205128,1.79765065 1.28205128,2.48208582 L1.28205128,6.82573599 L25,6.82573599 L25,8.0667789 L1.28205128,8.0667789 L0,8.0667789 L0,2.48208582 C0,1.11321549 1.15,0 2.56410256,0 L10.2564103,0 C10.4064103,0 10.5512821,0.0508827592 10.6666667,0.143340456 L14.3346154,3.10260727 L22.4358974,3.10260727 C23.85,3.10260727 25,4.21582276 25,5.58469308 L25,8.0667789 Z" id="Page-1" stroke="#FFFFFF" stroke-width="0.2" fill="#2E92FF"></path>
                          <rect id="Rectangle-path" stroke="#4DA1FF" fill="#E0EEFD" x="0" y="5.80808081" width="27" height="18.3922559" rx="2"></rect>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
  
  </div>


</div>
<!-- 
<h1>Spacing</h1>
<hr>
<div class="rc justify-content_center">
    <div class="fix-container">

        <div class="cc">

            <h2>Simple #1</h2>
            <div class="rc p-all_10" style="background: greenyellow;">
                <div class="flex_auto ml_24" style="background: navy;">Hello world</div>
            </div>

        </div>

    </div>
</div> -->
