<app-landing-nav></app-landing-nav>
<div class="m-all_1">
    <div class="rc jc_sb m-horizontal_1">
        <div>
            Breadcrumbs go here
        </div>
        <div class="text_3">
            <button class="btn btn_flat btn-orange">See public view</button>
        </div>
    </div>
    <div class="m-all_1">
        <div class="rc ai-c">
            <div>
                <app-avatar-icon size="139"></app-avatar-icon>
            </div>
            <div class="ml_2">
                <div class="m-vertical_1">
                    <span class="title_1 capitalize">
                        {{name}}
                    </span>
                    <!-- <app-star-rating></app-star-rating> -->
                    <span class="text_3">
                        4.8 (71)
                    </span>
                </div>
                <div class="m-vertical_1">
                    <span class="title_3">
                        {{description}}
                    </span>
                    <i class="fas fa-edit text_2"></i>
                </div>
                <div class="text_2 mb_1">
                    <div>
                        {{phone}}
                        <i class="fas fa-edit text_2"></i>
                    </div>
                    <div>
                        {{email}} / {{website}}
                        <i class="fas fa-edit text_2"></i>
                    </div>
                    <div>
                        {{numberOfStaff}} people work for {{name}}
                        <i class="fas fa-edit text_2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailed-description" class="text_3 mr_10">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at leo et arcu dictum venenatis nec eu orci.
              Nam vel tortor at libero volutpat eleifend. Duis in dolor sed felis imperdiet efficitur quis vel justo.
              Aenean iaculis varius eros quis rutrum. Donec tempus mauris vel tristique consectetur.
              Cras est felis, consequat id dui nec, faucibus finibus magna. Nam venenatis vitae purus a fermentum.
        </div>
    </div>
    <div class="m-all_1">    
        <app-feedback-section></app-feedback-section>
    </div>
</div>
