@import '../../../scss/variables/colour-palettes';
@import '../../../scss/variables/typography';

.fas {
  font-weight: 100;
  &:hover {
    cursor: pointer;
  }
}

.fa-edit {
  color: $colour-grey_2;
}

.fa-check-circle {
  color: $colour-green_1;
}

.btn-orange {
  background-color: $colour-orange_1;
  color: white;
}

#detailed-description {
  color: $colour-grey_2;
}