<div id="header">
    <div>
        Breadcrumbs go here
    </div>
    <div>
        <button class="btn btn_flat btn-orange">See public view</button>
    </div>
</div>
<div id="information">
    <div id="overview" class="rc">
        <div id="avatar">
            <app-avatar-icon size="100"></app-avatar-icon>
        </div>
        <div id="main-details">
            <div id="name" class="title_1 capitalize">
                CS gas fitting
                <span class="text_3">
                    Star rating goes here
                </span>
            </div>
            <div id="summary" class="title_3">
                Gas Fitter in Bristol and Bath
            </div>
            <div id="more-info" class="text_2">
                <div>
                    01179 901 281
                </div>
                <div>
                    hello@gsgasfitting.com / www.gasgasfitting.com
                </div>
                <div>
                    3 people work for CS Gas Fitting
                </div>
            </div>
        </div>
    </div>
    <div id="description" class="text_3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at leo et arcu dictum venenatis nec eu orci.
          Nam vel tortor at libero volutpat eleifend. Duis in dolor sed felis imperdiet efficitur quis vel justo.
          Aenean iaculis varius eros quis rutrum. Donec tempus mauris vel tristique consectetur.
          Cras est felis, consequat id dui nec, faucibus finibus magna. Nam venenatis vitae purus a fermentum.
    </div>
</div>
<app-review></app-review>
