<app-in-app-nav>
    <app-modal></app-modal>
    <div class="m-all_1">
        <div class="rc jc_sb m-horizontal_1">
            <!-- <div (click)="openModal()">
                Breadcrumbs
            </div> -->
            <app-breadcrumbs></app-breadcrumbs>
            <div class="text text_3">
                <button class="btn_orange">See public view</button>
            </div>
        </div>
        <div class="m-all_1">
            <div class="rc ai-c flex_wrap">
                <div class="mr_2">
                    <app-avatar-icon size="139"></app-avatar-icon>
                </div>
                <div>
                    <div class="m-vertical_1 rc ai_baseline title_1 capitalize">
                        {{name}}
                        <span class="text text_3 rc ai_c">
                            <img src='../../assets/star.svg' height="12px">
                            4.8 (71)
                        </span>
                    </div>
                    <div class="m-vertical_1" *ngIf="!descriptionBeingEdited">
                        <span class="title_3">
                            {{description}} 
                        </span>
                        <i class="fas fa-edit text_3" (click)="swapDescription()"></i>
                    </div>
                    <div class="m-vertical_1" *ngIf="descriptionBeingEdited">
                        <span>
                            <input
                                [ngStyle]="{'width.px': (description.length)*12}"
                                class="title_3"
                                ngModel
                                type="string"
                                [(ngModel)]="description"
                            >
                        </span>
                        <i class="fas fa-check-circle text_3" (click)="swapDescription()"></i>
                    </div>
                    <div class="text_2 mb_1">
                        <div *ngIf="!phoneBeingEdited">
                            <span class="text">{{phone}} </span>
                            <i class="fas fa-edit text_3" (click)="swapPhone()"></i>
                        </div>
                        <div *ngIf="phoneBeingEdited">
                            <span>
                                <input
                                    class="text"
                                    ngModel
                                    type="string"
                                    [(ngModel)]="phone"
                                >
                            </span>
                            <i class="fas fa-check-circle text_3" (click)="swapPhone()"></i>
                        </div>
                        <div *ngIf="!emailWebsiteBeingEdited">
                            <span class="text">{{email}} / {{website}} </span>
                            <i class="fas fa-edit text_3" (click)="swapEmailWebsite()"></i>
                        </div>
                        <div *ngIf="emailWebsiteBeingEdited">
                            <span class="text">
                                <input
                                    class="text"
                                    ngModel
                                    type="string"
                                    [(ngModel)]="email"
                                >
                                /
                                <input
                                    class="text"
                                    ngModel
                                    type="string"
                                    [(ngModel)]="website"
                                >
                            </span>
                            <i class="fas fa-check-circle text_3" (click)="swapEmailWebsite()"></i>
                        </div>
                        <div *ngIf="!numberOfStaffBeingEdited">
                            <span class="text">{{numberOfStaff}} people work for {{name}} </span>
                            <i class="fas fa-edit text_3" (click)="swapNumberOfStaff()"></i>
                        </div>
                        <div *ngIf="numberOfStaffBeingEdited">
                            <span class="text">
                                <input
                                    class="text"
                                    ngModel
                                    type="number"
                                    [(ngModel)]="numberOfStaff"
                                >
                                people work for {{name}}
                            </span>
                            <i class="fas fa-check-circle text_3" (click)="swapNumberOfStaff()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailed-description" class="text text-tiny mr_10 mt_1">
                {{detailedDescription}}
            </div>
        </div>
        <div class="m-all_1">    
            <app-feedback-section></app-feedback-section>
        </div>
    </div>
</app-in-app-nav>
