<!-- <h1> {{ job.name }} </h1>
<h2> {{ county.name }}, {{ city.name}} </h2> -->
<!-- <ngb-datepicker-navigation></ngb-datepicker-navigation> -->
<div class="job-page">
  <div>
    <h1 class="title_3">Broken Door</h1>
    <h2 class="title_4 mb_0  p-all_0">Almondsbury, Bristol</h2>
    <div class="time-quoting">
      <p class="text-tiny mt_1  p-all_0">24 hours ago</p>
      <div class="quoting pr_3 pl_3">
        <p class="small-quote">You Quoted</p>
        <p class="quote-number">£280</p>
      </div>
    </div>
  </div>

  <div class="rc jc_c">
    <button class="click pb_1 pr_0">
      <img class="job-click" src="assets/arrow-left-sign-to-navigate.png">
    </button>

    <div class="photo pt_1" *ngFor="let image of images">
      <img class="job-image ml_1 mr_1" src="{{ image.url }}" alt="problem{{id}}">
    </div>

    <button class="click pb_1">
      <img class="job-click" src="assets/arrow-right-sign-to-navigate.png">
    </button>
  </div>

  <div>
    <p class="text-tiny">
      Nullam nominavi instructior duo ex, unum meis adhuc id pro. 
      Assum possim oportere mel ex, at vel justo oblique, ne mel torquatos dissentias. 
      Et verear persius has, modus etiam ne vim. 
      Inani tincidunt eos ex. In fugit nominavi pertinax eum, est et vocent equidem, legere maiestatis eum ex. Vim ex erant ullamcorper. 
      Eu cum atomorum expetenda assentior, id propriae definitionem eum. Est et amet esse officiis, mei magna dicat ne. 
      Pro option legendos te, tale invidunt an nec, in esse pertinacia vix. 
      Eirmod deterruisset mei ex. 
      In facer recteque constituto has, eu cum lobortis pertinacia. 
      Et feugiat commune pro. Pri ei aeque ridens, justo admodum cu pro. Quem animal ne mei. Duo nostrum pertinax no, quas inani reprimique ea ius.
    </p>
  </div>
</div>
