<app-in-app-nav>
    <div class="p-all_2 text w_100 page-wrap rc_c ai_jc">
        <div class="rc jc_sb">
            <app-breadcrumbs></app-breadcrumbs>
            <div *ngIf="user.role === 'landlord'">
                <button *ngIf="outsourcingSent === false && contractorWorkCompleted === false" class="btn btn_raised btn_orange mr_2">Outsource Maintenance</button>
                <button *ngIf="outsourcingSent && contractorWorkCompleted === false" class="btn btn_raised btn_orange mr_2">Cancel outsourcing</button>
                <button *ngIf="contractorWorkCompleted === false" class="btn btn_raised btn_orange mr_2" routerLink="/directory">View contractor directory</button>
                <button *ngIf="contractorWorkCompleted" class="btn btn_raised btn_orange">Mark as completed</button>
            </div>
            <div *ngIf="user.role === 'contractor'">
                <button *ngIf="contractorQuoteState === 'none' && landlordQuoteState === 'accepted'" class="btn btn_raised btn_orange mr_13">Add a quote</button>
                <button *ngIf="contractorQuoteState === 'sent' && landlordQuoteState === 'accepted'" class="btn btn_raised btn_orange mr_13">Update your quote</button>
                <button *ngIf="contractorQuoteState === 'accepted'" class="btn btn_raised btn_orange mr_13">Mark as done</button>
            </div>
        </div>
        <app-job-detail [role]="user.role" [contractorQuoteState]="contractorQuoteState"></app-job-detail>
        <app-reported-by *ngIf="user.role === 'landlord'"></app-reported-by>
        <div *ngIf="landlordQuoteState === 'received'">
            <div class="rc">
                <h3 class="mt_5 w_90">Current quotes</h3>
                <div *ngIf="user.role === 'landlord'" class="w_95 rc jc_fe ml_2 mt_4">
                    <i class="fas fa-th-large mr_2" [ngClass]="quoteView === 'timeline' ? 'icon-active' : 'icon'" (click)="setQuoteView('timeline')"></i>
                    <i class="fas fa-list-ul icon" [ngClass]="quoteView === 'list' ? 'icon-active' : 'icon'" (click)="setQuoteView('list')"></i>
                </div>
            </div>
            <div *ngIf="quoteView === 'timeline'">
                <app-quote-timeline [role]="user.role"></app-quote-timeline>
            </div>
            <div *ngIf="quoteView === 'list'">
                <app-quote-grid></app-quote-grid>
            </div>
        </div>
        <div *ngIf="user.role === 'landlord' && landlordQuoteState === 'accepted'" class="mt_4">
            <app-accepted-quote></app-accepted-quote>
        </div>
        <div *ngIf="user.role === 'contractor' && landlordQuoteState === 'accepted'" class="rc jc_sb mt_4">
            <app-landlord-mini-profile></app-landlord-mini-profile>
            <app-map></app-map>
        </div>
    </div>
</app-in-app-nav>
