<app-in-app-nav>
    <div class="p-all_2 text">
        <app-job-detail [role]="user.role"></app-job-detail>
        <app-reported-by *ngIf="user.role === 'landlord'"></app-reported-by>
        <div *ngIf="showQuotes">
            <div class="rc">
                <h3 class="mt_5 w_90">Current quotes</h3>
                <div *ngIf="user.role === 'landlord'" class="w_95 rc jc_fe ml_2 mt_4">
                    <i class="fas fa-th-large mr_2 icon" (click)="setQuoteView('timeline')"></i>
                    <i class="fas fa-list-ul icon" (click)="setQuoteView('list')"></i>
                </div>
            </div>
            <div *ngIf="quoteView === 'timeline'">
                <app-quote-timeline [role]="user.role"></app-quote-timeline>
            </div>
            <div *ngIf="quoteView === 'list'">
                <app-quote-grid></app-quote-grid>
            </div>
        </div>
        <div *ngIf="quoteAccepted">
            <app-accepted-quote></app-accepted-quote>
        </div>
    </div>
</app-in-app-nav>